{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">You are</h4>
            <p class="text-muted">
                {% if is_granted('ROLE_USER') %}
                    Hello, {{ app.user.email }}
                {% elseif is_granted('ROLE_ADMIN') %}
                    Hello, admin
                {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                    Hello, super admin
                {% else %}
                    Hello, anonymous
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    You are logged
                {% else %}
                    <a href="{{ path('app_login') }}" class="float-lg-left">
                        Login <i class="fas fa-door-open"></i>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_register') }}" class="float-lg-right">
                        Registration new Admin <i class="fas fa-registered"></i>
                    </a>
                {% endif %}
            </p>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('app') }}
{% endblock %}
