{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            padding: 5px;
            text-align: center;
        }
        td {
            padding: 5px;
            text-align: left;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Statistics</h1>

    <table >
        <tr>
            {% for date in data|keys  %}
                <th colspan="2">{{date}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for dateData in data  %}
                {% for blockName, typeEvent in dateData  %}
                    <td>
                        <ul>
                            {% if typeEvent is iterable %}
                                <h2>{{blockName}}</h2>
                                <li>
                                    {% for eventName, events in typeEvent  %}
                                        {% if events is iterable %}
                                            <h3>{{eventName}}</h3>
                                            <ul>
                                                {% for shopName, counter in events %}
                                                    <li>{{ shopName }} - {{ counter }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
    </table>

    {% block page_contents %}{% endblock %}
{% endblock %}