{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            padding: 5px;
            text-align: center;
        }
        td {
            padding: 5px;
            text-align: left;
            vertical-align: top;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Statistics</h1>

    <table>
        <tr>
            {% for iterRedisKey, iterRedisData in prepareDataTh  %}
                <th colspan="{{ iterRedisData|length > 0 ? iterRedisData|length : ''}}" >{{iterRedisKey}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for iterRedisKey, iterRedisData in prepareDataTh  %}
                {% if iterRedisData is iterable %}
                    {% for uniqRedisKey in iterRedisData %}
                        <td>{{uniqRedisKey}}</td><br>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>

        <tr>
            {% for resultKey, result in resultData  %}
                <td>
                    {% if result is iterable %}
                        {% for keyData, ValueData in result %}
                            {% if ValueData is iterable %}
                                <ul>
                                    {% for resourceKey, resourceValue  in ValueData %}
                                        <h3>
                                            {{ resourceKey|capitalize }}
                                        </h3>
                                        {% if resourceValue is iterable %}
                                            {% for prefixNameKey, prefixNameVaue in resourceValue %}
                                                <h4>
                                                    {{ prefixNameKey|capitalize }}
                                                </h4>
                                                {% if prefixNameVaue is iterable %}
                                                    {% for blockNameKey, blockNameValue in prefixNameVaue %}
                                                        <li>
                                                            {{ blockNameKey }}
                                                        </li>
                                                        {% if blockNameValue is iterable %}
                                                            <ul>
                                                                {% for shopKey, shopValue in blockNameValue %}
                                                                    <li>
                                                                        {{ shopKey|capitalize }} - {{ shopValue }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{keyData}} - {{ ValueData }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>

    {% block page_contents %}{% endblock %}
{% endblock %}