{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            padding: 5px;
            text-align: center;
        }
        td {
            padding: 5px;
            text-align: left;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Statistics</h1>


    <table >
    <tr>
        {% for date in data|keys  %}
            <th colspan="2">{{date}}</th>
        {% endfor %}
    </tr>
    <tr>
        <td>
            {% for dateKey, dateData in data  %}
                {% for blockName, typeEvent in dateData  %}
                        <ul>
                            {% if typeEvent is iterable %}
                                <h2>{{blockName|capitalize  }}</h2>
                                <li>
                                    {% if typeEvent is iterable %}
                                        {% for eventName, events in typeEvent  %}
                                            {% if events is iterable %}
                                                <h3>{{eventName}}</h3>
                                                <ul>
                                                    {% for filePath, shopData in events %}
                                                        {% if shopData is iterable %}
                                                            <li>
                                                                {% for key, value in shopData %}
                                                                    <ul>
                                                                        <li>{{ key }} - {{ value }}</li>
                                                                    </ul>
                                                                {% endfor %}
                                                            </li>
                                                            <br>
                                                        {% else %}
                                                            <li>
                                                                {{ filePath }} - {{ shopData }}
                                                            </li>
                                                            <br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    {%  endif %}

                                </li>
                            {% endif %}
                        </ul>

                {% endfor %}
            {% endfor %}
        </td>
    </tr>
    </table>
    {% block page_contents %}{% endblock %}
{% endblock %}