{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
    {{ parent() }}


    <div class="container">

        <table class="table table-hover">
            <caption>List of resources</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Resource Name</th>
                <th scope="col">Count poducts</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            {% for key, document in resourceDocuments %}

                {% if document is iterable %}
                    <tr>
                        <th scope="row">{{ key + 1 }}</th>
                        {% for keyData, data in document %}
                            <td>
                                {% if keyData == 'path' %}
                                    <a href="{{ data }}">List</a>
                                {% else %}
                                    {{ data }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>

        <table class="table table-hover">
            <caption>Shop rules</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Resource Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <th scope="row">1</th>
                <td>
                    Admin shop rules
                </td>
                <td>
                    <a href="{{ path('shop_rules') }}">
                        List
                    </a>
                </td>

            </tr>

            <tr>
                <th scope="row">1</th>
                <td>
                    Hover Categories
                </td>
                <td>
                    <a href="{{ path('hover_menu_categories') }}">
                        List
                    </a>
                </td>

            </tr>

            <tr>
                <th scope="row">1</th>
                <td>
                    Brands
                </td>
                <td>
                    <a href="{{ path('brands_management') }}">
                        List
                    </a>
                </td>

            </tr>

            </tbody>
        </table>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/index/js/index.min.js') }}"></script>
{% endblock %}
