{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('simditor-2.3.28/styles/simditor.css') }}" />
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if th_keys|length %}
        <!-- Table -->
        <table id='empTable' class='display dataTable'>

            <thead>
            <tr>
                {% for columnProduct in th_keys %}
                    <th scope="col">{{ columnProduct }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tfoot>
            {% for columnProduct in th_keys %}
                <th scope="col">{{ columnProduct }}</th>
            {% endfor %}
            </tfoot>

        </table>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">

                        <form id="editBrand">
                            <div class="form-group">
                                <label for="bn" class="col-form-label">Brand Name</label>
                                <input type="text" id="bn" class="form-control" name="bn"/>
                            </div>
                            <div class="form-check">
                                <input name="topBrand" type="checkbox" class="form-check-input" id="topBrand">
                                <label class="form-check-label" for="topBrand">Top Brand</label>
                            </div>
                            <div class="row data_model_seo">
                                <div class="col-md-6 ml-auto">
                                    <div class="form-group">
                                        <label for="seoTitle" class="col-form-label">Brand Seo title:</label>
                                        <textarea name="brand_seo_title" class="form-control" id="seoTitle" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <div class="form-group">
                                        <label for="seoDescription" class="col-form-label">Brand Seo description:</label>
                                        <textarea name="brand_seo_description" class="form-control" id="seoDescription" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div id="attachment_files_template">

                            </div>
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index/js/brand_list.min') }}

    <script>
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }

        let th_keys = getJSonObject("{{ dataTbaleKeys ? dataTbaleKeys|json_encode() : "{}" }}");
        let for_prepare_defs = getJSonObject("{{ dataTbaleKeys ? dataTbaleKeys|json_encode() : "{}" }}");

        let img_columns = getJSonObject("{{ img_columns ? img_columns|json_encode() : "{}" }}");
        let link_columns = getJSonObject("{{ link_columns ? link_columns|json_encode() : "{}" }}");
        let short_preview_columns = getJSonObject("{{ short_preview_columns ? short_preview_columns|json_encode() : "{}" }}");

        let separate_filter_column = getJSonObject("{{ separate_filter_column ? separate_filter_column|json_encode() : "{}" }}");
        let convert_to_html_columns = getJSonObject("{{ convert_to_html_columns ? convert_to_html_columns|json_encode() : "{}" }}");

        let seo_columns = getJSonObject("{{ seo_columns ? seo_columns|json_encode() : "{}" }}");

    </script>

    <script src="{{ asset('simditor-2.3.28/site/assets/scripts/module.js') }}"></script>
    <script src="{{ asset('simditor-2.3.28/site/assets/scripts/hotkeys.js') }}"></script>


    <script src="{{ asset('simditor-2.3.28/lib/simditor.js') }}"></script>


{% endblock %}
