{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
    {{ parent() }}

    {% if th_keys|length %}
        <!-- Table -->
        <table id='empTable' class='display dataTable'>

            <thead>
            <tr>
                {% for columnProduct in th_keys %}
                    <th scope="col">{{ columnProduct }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tfoot>
            {% for columnProduct in th_keys %}
                <th scope="col">{{ columnProduct }}</th>
            {% endfor %}
            </tfoot>

        </table>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">

                        <form id="editShop">

                            <div id="attachment_files_template">

                            </div>
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index/js/resource_shop_list.min') }}

    <script>
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }

        let th_keys = getJSonObject("{{ dataTbaleKeys ? dataTbaleKeys|json_encode() : "{}" }}");
        let for_prepare_defs = getJSonObject("{{ dataTbaleKeys ? dataTbaleKeys|json_encode() : "{}" }}");
        let img_columns = getJSonObject("{{ img_columns ? img_columns|json_encode() : "{}" }}");

    </script>

{% endblock %}
