{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
    {{ parent() }}


    <div class="container">



        <table class="table table-hover">
            <caption>List of admin shop rules</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Shop Name</th>
                <th scope="col">Count Rules</th>
                <th scope="col">Rules</th>
            </tr>
            </thead>
            <tbody>

            {% for key, rule in rules %}
                <tr>
                    <th scope="row">{{ key + 1 }}</th>
                    {# @var rule \App\Entity\AdminShopsRules #}
                    <td>{{ rule.store }}</td>
                    <td>{{ rule.columnsKeywords|length }}</td>
                    <td>
                        {% if rule.columnsKeywords is iterable and rule.columnsKeywords|length %}
                            {% for colmnName, keyWord in rule.columnsKeywords %}
{#                                {{ dump(colmnName, keyWord) }}#}
                                {% if keyWord is iterable and keyWord|length %}
                                    {% set extra_rule = false %}

                                    {% for extraKey, word in keyWord %}
                                        {% if word is iterable %}
                                            {% set extra_rule = true %}

                                            <b>{{ colmnName }}:</b>
                                            {% for extraValue in word %}
                                                <p>
                                                    <b>{{ extraKey }}:</b> - {{ extraValue }}
                                                </p>
                                            {% endfor %}

                                        {% endif %}
                                    {% endfor %}

                                    {% if extra_rule == false %}
                                        <b>{{ colmnName }}:</b> - {{ keyWord|join(',')  }}
                                    {% endif %}

                                    <br>
                                {% else %}
                                    <b>{{ colmnName }}:</b> - {{ keyWord }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/index/js/index.min.js') }}"></script>
{% endblock %}
