{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row radio-level">
        <div class="col-md-8 mx-auto text-center">
            <!-- all-->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="all" name="change-category-level-filter" value="all">
                <label class="custom-control-label" for="all">All level</label>
            </div>

            <!-- Default inline 1-->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio"
                       class="custom-control-input"
                       id="defaultInline1"
                       name="change-category-level-filter"
                       value="1"
                >
                <label class="custom-control-label" for="defaultInline1">1th level</label>
            </div>

            <!-- Default inline 2-->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="change-category-level-filter" value="2">
                <label class="custom-control-label" for="defaultInline2">2th level</label>
            </div>

            <!-- Default inline 3-->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline3" name="change-category-level-filter" value="3">
                <label class="custom-control-label" for="defaultInline3">3th level</label>
            </div>

        </div>
    </div>

    <div class="row" id="path_present">
        <div class="col-md-8 mx-auto text-center">
            <h2 style="color: #1f69c0">

            </h2>
        </div>
    </div>

    <!-- Table -->
    <table id='empTable' class='display dataTable'>

        <thead>
        <tr>
            {% for column in th_keys %}
                <th scope="col">{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tfoot>
        {% for column in th_keys %}
            <th scope="col">{{ column }}</th>
        {% endfor %}
        </tfoot>

    </table>



    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">

                        <form id="editCateory">
                            <div class="row">
                                <div class="col-md-6 ml-auto">
                                    <div class="form-group">
                                        <label for="pkw" class="col-form-label">pkw:</label>
                                        <textarea name="pkw" class="form-control" id="pkw" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <div class="form-group">
                                        <label for="nkw" class="col-form-label">nkw:</label>
                                        <textarea name="nkw" class="form-control" id="nkw" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input name="hotCatgory" type="checkbox" class="form-check-input" id="hotCatgory">
                                <label class="form-check-label" for="hotCatgory">Hot Catgory</label>
                            </div>
                            <div class="form-check">
                                <input name="disableForParsing" type="checkbox" class="form-check-input" id="disableForParsing">
                                <label class="form-check-label" for="disableForParsing">Disable for parsing products</label>
                            </div>
                            <div class="form-group">
                                <label for="category_position" class="col-form-label">Category Position</label>
                                <input type="number" id="category_position" name="category_position" min="0" data-bind="value:replyNumber" />
                            </div>
                            <div class="form-group">
                                <label for="category_name" class="col-form-label">Category Name</label>
                                <input type="text" id="category_name" name="category_name"/>
                            </div>
                            <input type="hidden" id="category_id" name="category_id" value="">
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index/js/hover_menu.min') }}

{% endblock %}
