{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
    {{ parent() }}

        <!-- Table -->
        <table id='empTable' class='display dataTable'>

            <thead>
            <tr>
                {% for columnProduct in th_keys %}
                    <th scope="col">{{ columnProduct }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tfoot>
                {% for columnProduct in th_keys %}
                    <th scope="col">{{ columnProduct }}</th>
                {% endfor %}
            </tfoot>

        </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/index/js/adrecord.min.js') }}"></script>

    <script>
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }

        let th_keys = getJSonObject("{{ dataTbaleKeys ? dataTbaleKeys|json_encode() : "{}" }}");
        let for_prepare_defs = getJSonObject("{{ dataTbaleKeys ? dataTbaleKeys|json_encode() : "{}" }}");

        let img_columns = getJSonObject("{{ img_columns ? img_columns|json_encode() : "{}" }}");
        let link_columns = getJSonObject("{{ link_columns ? link_columns|json_encode() : "{}" }}");
        let short_preview_columns = getJSonObject("{{ short_preview_columns ? short_preview_columns|json_encode() : "{}" }}");

        let separate_filter_column = getJSonObject("{{ separate_filter_column ? separate_filter_column|json_encode() : "{}" }}");
        let decline_reason = getJSonObject("{{ decline_reason ? decline_reason|json_encode() : "{}" }}");

    </script>
{% endblock %}
